<div class="container">
  <% if user_signed_in? %>
    <div class="col-md-12">
      <h1>Bienvenido <%= current_user.name %></h1>
      <% @users.each do |user| %>
        <li><%= user.email %></li>

      <% end %>
      <p>Te damos la bienvenidas</p>
      <%= link_to 'Logout', destroy_user_session_path, method: :delete, class: "btn btn-primary" %>
    <% else %>
    </div>

    <div class="col-md-12">
      <h1>This is my first devise...</h1>
      <div class="col-md-12">
        <%= link_to 'Login', new_user_session_path, class: "btn btn-primary" %>
        <%= link_to "Sign up", new_registration_path(resource_name), class: 'btn btn-primary' %><br />
      </div>
    </div>
  <% end %>
</div>
